.navbar {
  background-color: rgb(135, 90, 123);
}

.admin-img {
  width: 25px;
  height: 25px;
}

.admin {
  padding-top: 10px;
}

.my-site {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.highlight {
  color: white;
  font-size: 15px;
}
